/* src/App.css */
.Header {
  background-color: black;
  color: #FFF;
  padding: 20px;
  text-align: center;
}

.about {
  background-color: #F4F4F4;
  padding: 20px;
}

.portfolio {
  background-color: #F4F4F4;
  padding: 20px;
}

.Contact {
  background-color: #007ACC;
  color: #FFF;
  padding: 20px;
  text-align: center;
}
